@font-face {
  font-family: 'wf_SegoeUILight';
  src: url("assets/fonts/SegoeUILight/SegoeUI-Light.eot");
  src: url("assets/fonts/SegoeUILight/SegoeUI-Light.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/SegoeUILight/SegoeUI-Light.woff") format("woff"),
  url("assets/fonts/SegoeUILight/SegoeUI-Light.ttf") format("truetype"),
  url("assets/fonts/SegoeUILight/SegoeUI-Light.svg#web") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'wf_SegoeUIBold';
  src: url("assets/fonts/SegoeUISemibold/SegoeUI-Semibold.eot");
  src: url("assets/fonts/SegoeUISemibold/SegoeUI-Semibold.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/SegoeUISemibold/SegoeUI-Semibold.woff") format("woff"),
  url("assets/fonts/SegoeUISemibold/SegoeUI-Semibold.ttf") format("truetype"),
  url("assets/fonts/SegoeUISemibold/SegoeUI-Semibold.svg#web") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'segoeui';
  src: url('assets/fonts/SegoeUI/SegoeUI.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SegoeUI/SegoeUI.woff') format('woff'),
  url('assets/fonts/SegoeUI/SegoeUI.ttf')  format('truetype'),
  url('assets/fonts/SegoeUI/SegoeUI.svg#SegoeUI') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'segoeuiBold';
  src: url('assets/fonts/SegoeUIBold/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SegoeUIBold/SegoeUI-Bold.woff') format('woff'),
  url('assets/fonts/SegoeUIBold/SegoeUI-Bold.ttf')  format('truetype'),
  url('assets/fonts/SegoeUIBold/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'segoeuiSemiBold';
  src: url('assets/fonts/SegoeUISemibold/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SegoeUISemibold/SegoeUI-Semibold.woff') format('woff'),
  url('assets/fonts/SegoeUISemibold/SegoeUI-Semibold.ttf')  format('truetype'),
  url('assets/fonts/SegoeUISemibold/SegoeUI-Semibold.svg#SegoeUI-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'segoeuiSemiLight';
  src: url('assets/fonts/SegoeUILight/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SegoeUILight/SegoeUI-Light.woff') format('woff'),
  url('assets/fonts/SegoeUILight/SegoeUI-Light.ttf')  format('truetype'),
  url('assets/fonts/SegoeUILight/SegoeUI-Light.svg#SegoeUI-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}